<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
            <form>
                <h6 class="card-title mb-3"><h1>بحث عن منتج لبيعه</h1></h6>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control" [ngModelOptions]="{standalone: true}" (ngModelChange)="GetProduct()" id="fff" type="text" 
                            [(ngModel)]="product.productCode"placeholder="الكود" > 
                        </div>
                       
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <div class="form-group">
                            <input class="form-control" [ngModelOptions]="{standalone: true}" (ngModelChange)="GetProduct()" id="fff" type="text" [(ngModel)]="product.productIqCode" placeholder="كود المنتج الخاص"> 
                        </div>
                        
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="form-group">
                            <input class="form-control" [ngModelOptions]="{standalone: true}" (ngModelChange)="GetProduct()" id="fff" type="text" [(ngModel)]="product.productName" placeholder="اسم المنتج"> 
                        </div>
                        
                    </div>
                </div>
                <div class="mt-5 mb-5 d-flex justify-content-center text-center">
                    <table class="table table-bordered p-3 m-3">
                        <thead>
                            <th scope="col">الكود</th>
                            <th scope="col">الاسم</th>
                            <th scope="col">الكود الخاص</th>
                            
                        </thead>
                        <tbody>
                            <tr (dblclick)="GetProductByDoubleClick(prod)" *ngFor="let prod of products" >
                                <td >{{prod.productCode}}</td>
                                <td>{{prod.productName}}</td>
                                <td>{{prod.productIqCode}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>

        </div>
        <div *ngIf="!isProduct" class="alert alert-danger">
            <a [routerLink]="'../add/'+product.productCode">لا يوجد منتج بهذا الكود , هل ترغب باضافته؟</a>
            
        </div>
    </div>
    <div class="card px-1 py-4">
        <div class="card-body">
            <div class="row mb-3 prod-container" *ngFor="let prod of productToSale | keyvalue">
                <div class="col-8 prod-info">
                    {{prod.key}}    

                    <span class="prod-value">{{prod.value}}</span>
                    الكمية
                </div>
                <div class="col-4">
                <button class="btn btn-primary m" (click)="DeleteProductToSale(prod.key)">حذف</button>
                <button class="btn btn-danger m-1" (click)="MinusOneProductToSale(prod.key)">-</button>
                <button class="btn btn-success"(click)="AddOneProductToSale(prod.key)">+</button>
                </div>
            </div>
        </div>
        
        <button class="btn btn-primary" (click)="Submit()" type="submit">بيع</button>

    </div>

</div>