<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
            <form>
                <h6 class="card-title mb-3"><h1>بحث عن منتج لبيعه</h1></h6>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input class="form-control" [ngModelOptions]="{standalone: true}" 
                            (keyup.enter)="GetProduct()" (ngModelChange)="ChangeProductCode()" 
                            id="fff" type="text" [(ngModel)]="product.productCode"   placeholder="الكود" > 
                        </div>
                       
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input class="form-control" [ngModelOptions]="{standalone: true}" 
                            (keyup.enter)="GetProduct()" (ngModelChange)="ChangeProductIqCode()" 
                            id="fff" type="text" [(ngModel)]="product.productIqCode"  placeholder="كود المنتج الخاص"> 
                        </div>
                        
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input class="form-control" [ngModelOptions]="{standalone: true}" 
                            (keyup.enter)="GetProduct()" (ngModelChange)="ChangeProductName()" 
                            id="fff" type="text" [(ngModel)]="product.productName" placeholder="اسم المنتج"> 
                        </div>
                        
                    </div>
                </div>
                <div class="m-3 d-flex justify-content-center text-center">
                    <table class="table table-bordered p-3 m-3">
                        <thead>
                            <th scope="col">الكود</th>
                            <th scope="col">الاسم</th>
                            <th scope="col">الكود الخاص</th>
                            
                        </thead>
                        <tbody>
                            <tr (dblclick)="GetProductByDoubleClick(prod)" *ngFor="let prod of products" >
                                <td >{{prod.productCode}}</td>
                                <td>{{prod.productName}}</td>
                                <td>{{prod.productIqCode}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>

        </div>
        <div *ngIf="!isProduct" class="alert alert-danger">
            <a [routerLink]="'../add/'+product.productCode">لا يوجد منتج بهذا الكود , هل ترغب باضافته؟</a>
            
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="container prod-container m-3" *ngFor="let prod of productToSale | keyvalue">
                <div class="row text-center">    
                    <h1>
                        {{prod.key}}    
                    </h1>
                </div>    
                <div class="row  btns">
                        <button class="btn"(click)="AddOneProductToSale(prod.key)">+</button>
                        <button class="btn" (click)="MinusOneProductToSale(prod.key)">-</button>
                        <input  type="number" #quan class="form-control input-quantity" (keyup.enter)="AddquantityProduct(prod.key,quan)" placeholder="الكمية">
                        <button class="btn text-center align-items-center" (click)="DeleteProductToSale(prod.key)"><i class="fa fa-trash"></i></button>    
                </div>
                <div class="row m-auto prod-value">
                    <span class="">{{prod.value}}</span>
                </div>

            </div>
            
            
        </div>
        
        <button class="btn btn-primary" (click)="Submit()" type="submit">بيع</button>

    </div>

</div>