<div class="container-fluid m-2">
  
  <div class="container"> 
    <div class="search">
       <div class="row">
         <div class="col-md-4">
           <div class="search-1">
             <i class='bx bx-search-alt'></i> 
             <input [(ngModel)]="code" (keyup.enter)="Search()" type="text" placeholder="كود المنتج"> 
            </div> 
          </div> 
          <div class="col-md-4"> 
                <button style="width: 100%;" (click)="OpenQrRead()" class="btn btn-primary"> Qr Code قراءة </button>  
            
          </div> 
          <div class="col-md-4"> 
            <div> 
              <div class="search-2"> 
                <i class='bx bxs-map' ></i> 
                <input [(ngModel)]="iqCode" (keyup.enter)="SearchByIqCode()" type="text" placeholder="كود المنتج الخاص "> 
              </div> 
            </div> 
          </div> 
        </div> 
      </div>
</div>
<div class="btn-sale">
  <button class="btn btn-info" routerLink="../sale">Sale</button>
</div>

  <table class="table table-bordered" id="table">
    <thead>
      <tr>
        <th scope="col">مشاهدة الفيديوهات</th>
        <th scope="col">طباعة الباركود</th>
        <th scope="col">الاجمالي</th>
        <th scope="col">التاريخ والوقت</th>
        <th scope="col">ضريبة</th>
        <th scope="col">السعر</th>
        <th scope="col">الوحدة</th>
        <th scope="col">الكمية</th>
        <th scope="col">ملاحظة</th>

        <th scope="col">الاسم</th>
        <th scope="col"> كود المنتج الخاص</th>

        <th scope="col">الكود</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of sales">
        <td *ngIf="sale.videoUrl"> <button  class="btn btn-danger" (click)="WatchVideo(sale.productIqCode)">مشاهدة الفيديو</button></td>
        <td *ngIf="!sale.videoUrl"> <button  class="btn btn-primary" [routerLink]="'edit/'+sale.productId">اضافة فيديو</button></td>
        
        <td *ngIf="!sale.videoUrl"> </td>
        <td *ngIf="sale.videoUrl"> <button  class="btn btn-success m-1" [routerLink]="'barcode/'+sale.productIqCode">طباعة الباركود</button>
          <button  class="btn btn-primary m-1" [routerLink]="'qrcode/'+sale.productIqCode"> كود Qr طباعة ال </button>
        </td>

        <th>{{sale.productPrice*sale.productQuantity}} {{sale.productUnit}}</th>
        <th>{{sale.saleTime | date: 'yyyy/MM/dd : hh:mm:ss'}}</th>
        <td>{{sale.productTax}}</td>
        <td>{{sale.productPrice}}</td>
        <td>{{sale.productUnit}}</td>
        <td>{{sale.productQuantity}}</td>
        <td>{{sale.productNote}}</td>
        <td>{{sale.productName}}</td>
        <td>{{sale.productIqCode}}</td>
        <td>{{sale.productCode}}</td>

      </tr>
    </tbody>
    <div class="btns">

      <button *ngIf="sales && sales.length<count" class="btn btn-success m-1" (click)="Paginate()">See More</button>
      <button *ngIf="sales && sales.length>10" class="btn btn-danger m-1" (click)="PaginateLess()">See Less</button>
      <button *ngIf="!sales" class="btn btn-success m-1" (click)="GetSales()">Show Sales</button>
  
    </div>
   

  </table>
</div>

