<mdb-carousel [interval]="0" [animation]="'slide'"  >
    <mdb-carousel-item *ngFor="let product of products">
        <video width="100%" controls>
            <source [src]="product.videoUrl">
        </video>
        <div class="carousel-caption" *ngIf="product.productNote">
          <h3 class="h3-responsive"><strong>{{product.productName}}</strong></h3>
          <p>{{product.productNote}}</p>
         
        </div>
    </mdb-carousel-item>
  </mdb-carousel>

  <div *ngIf="!products.length">
    No Videos <button class="btn btn-primary" (click)="AddVideo()" [routerLink]="'../edit/'+productId">Add Video</button>
  </div>