<div class="d-flex flex-row-reverse text-center">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-8">رامي</div>
                <div class="col-4">الاسم</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-8">1234567890</div>
                <div class="col-4">التلفون</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-8">الالان تلبياهخ تبيهخ</div>
                <div class="col-4">العنوان</div>
            </div>
        </li>
      </ul>
</div>
