<div class="row">
    <div class="col-11">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">الرصيد الى الان</th>
            <th scope="col">التاريخ</th>
            <th scope="col">الوقت</th>
            <th scope="col">تاريخ الاستحقاق</th>
            <th scope="col">الرقم</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td scope="row">Mark</td>
                <td scope="row">Otto</td>
                <td scope="row">@mdo</td>
                <th scope="row">1</th>                
            </tr>
        </tbody>
      </table>
    </div>
    <div class="col-1 right-col">
        <div class="text-center">
            المبيعات
        </div>
    </div>
</div>
