
.operations{
    margin-right: 30px;
    display: flex;
}


.operation-i{
    font-size: 25px;
    cursor: pointer;
    background-color: #bfbfda6e;
    margin: 10px;
    
    text-align: center;
    padding: 10px;
    border-radius: 50%;
}
.operation-i:hover{
    background-color: #67677c6e;
}

.hide .show {
    visibility: hidden;
}

.show{
    background-color: #d7dee5;
    padding: 5px;
    border-radius: 10px;
}