<div class="container">
    <div class="fixed-bottom" >
        <div class="float-end operations text-center">
    
            <div class="operation hide">
                <div class="show">
                    اضافة منتج
                </div>
                <div class="operation-i">
                    <i (click)="OpenAddProduct()" class="fa fa-plus-square-o"></i>
                </div>
            </div>
            <div class="operation hide">
                <div class="show">
                    عرض المنتجات
                </div>
                <div class="operation-i">
                    <i routerLink="products" class="fa fa-eye"></i>
                </div>
            </div>
            <div class="operation hide">
                <div class="show">
                    Sale
                </div>
                <div (click)="OpenSale()" class="operation-i">
                    Sale
                </div>
            </div>
            
        </div>
    </div>
        
</div>

